<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         displayDetailsOnAllIssues="true">

    <source restrictDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true">
        <include>
            <directory>src*</directory>
        </include>
        <exclude>
            <directory>src/psr7*</directory>
            <directory>src/psr18*</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="src_tests">
            <directory>tests*</directory>
        </testsuite>
    </testsuites>
</phpunit>
